<div class="row">
  <div class="col-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-mobile-alt accent-color"></i>
        <mat-card-title>Responsive</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum
          iste distinctio illum aperiam dicta omnis.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-tablet-alt accent-color"></i>
        <mat-card-title>Web</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum
          iste distinctio illum aperiam dicta omnis.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-desktop accent-color"></i>
        <mat-card-title>Design</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum
          iste distinctio illum aperiam dicta omnis.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
